:root {
  --theme-color1:#1536EA;
  --theme-color2:#5E15EA;
  --theme-color3:#15A1EA;
  --support-color1:#0B1C7A;
  --support-color2:#310B7A;
  --support-color3:#0B547A;
  --grey-color1: #99A7F6;
  --grey-color2: #B999F6;
  --grey-color3: #99D6F6;
}

/* my colors */
.theme1 {
  color: var(--theme-color1)
}
.theme2 {
  color: var(--theme-color2)
}
.theme3 {
  color: var(--theme-color3)
}
.bg-theme1 {
  background-color: var(--theme-color1)
}
.bg-theme2 {
  background-color: var(--theme-color2)
}
.bg-theme3 {
  background-color: var(--theme-color3)
}
.support1 {
  color: var(--support-color1)
}
.support2 {
  color: var(--theme-color2)
}
.support3 {
  color: var(--theme-color3)
}
.bg-support1 {
  background-color: var(--support-color1)
}
.bg-support2 {
  background-color: var(--support-color2)
}
.bg-support3 {
  background-color: var(--support-color3)
}
.grey1 {
  color: var(--grey-color1)
}
.grey2 {
  color: var(--theme-color2)
}
.grey3 {
  color: var(--theme-color3)
}
.bg-grey1 {
  background-color: var(--grey-color1)
}
.bg-grey2 {
  background-color: var(--grey-color2)
}
.bg-grey3 {
  background-color: var(--grey-color3)
}

/* !end of my colors */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex-grow: 1;
}
section {
  background-color: var(--support-color2);
  color: white; 
  border: 2px solid black; 
  min-height: 15vh;
}
.row{
  margin: 16px 0px;
}
.col{
  margin: 32px 0px;
}
.card {
  color: black;
  padding: 16px;
}

/* navigation bar */
.logo {
  max-height: 5vh;
}
nav li {
  list-style-type: none;
}

nav li a.btn {
  text-color: var(--theme-color3);
}

.bg-img1 {
  background-image: url(https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-color: rgba(0, 0, 0, 0.75);
    background-blend-mode: color;
}
.half-on {
  margin: auto;
  position: absolute;
  top: 75vh;
  min-width: 45%;
  /* max-width: 45%; */
  /* margin: auto; */
}

@media screen AND (max-width: 768px) {
  .half-on {
    position: unset;
    max-width: none;
    margin: clear;
  }
}